
@model Domain.InProgressOrders
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-dark">
  @foreach (var line in Model.GetTop5SoldProducts())
  {
      <tr>
          
          <td>
              @line.Description
          </td>
          <td>
              @line.Gtin
          </td>
          <td>
              @line.Quantity
          </td>
      </tr>
  }
</table>